.main-login{
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
    background:#e6e1e1;
    align-items: center;
}
.login-contain{
    height:75vh;
    width:80vw;
    background-color:white;
    margin:5rem auto;
    box-shadow:0.5rem 5.5rem 2rem -2rem white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-side, .right-side{
    margin:2rem 2rem;
    height:80%;
    width:100%;
    background-color: white;
    box-shadow: 0.5rem 5.5rem 2rem -2rem #c7dee2;
}
.img-login{
    width:100%;
    height:60%;
    transition: 3ease;

}
.left-side{
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    input{
        display: flex;
        outline:none;
        border: none;
        border-bottom:#99b1aa;
        height: 1rem;
        width:100vw;
        margin:auto;
        margin-bottom:1.5rem;
        padding: 0.2 rem 1rem;

        &:focus{
            outline: none;
            border:none;
        }

    }

}
.read-more{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px 20px;
    background:rgba(255, 68, 0, 0.705);
    color:white;
    font-size:19px;
    text-decoration: none;
    border-radius:20px;
    margin-top: 15px;
    transition:0.3s ease;

 }
.read-more:hover{
    background-color: rgba(255, 68, 0, 0.705);

}

{/*Blog css*/}

.left-side h3{
    border-bottom: 2px solid #80838d;
    width:30vw;
    align-items: center;
    display: flex;
    justify-content: center;
   border-radius: 1px;
    font-size: 35px;
    color:#80838d;
}

label{
    font-size:20px;
    color:#80838d;
}
.input{
    color:#80838d;
    width:20vw;
    height:4vh;
    border:none;
    border-bottom: 3px solid rgba(255, 68, 0, 0.705);
   
}

.create{
    color:rgba(255, 68, 0, 0.705);
    
}
.create:hover{
    color:rgba(255, 68, 0, 0.705);
    
}

.btn1{
    background-color: rgba(255, 68, 0, 0.705);
    color:white;
    width:7vw;
    height:3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border:none;
    font-size:15px;
}



.btn{
    background-color: rgba(255, 68, 0, 0.705);
    color:white;
    width:7vw;
    height:4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border:none;
}
.btn::after
{
    background-color: rgba(145, 108, 96, 0.894);
    color:white;
    width:7vw;
    height:5vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.right-side p{
    color:rgba(64, 72, 80, 0.959);
    background: black;
    font-size:14px;
    height:20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:400px)
{
    .right-side p{
        color:rgba(64, 72, 80, 0.959);
        background: black;
        font-size:clamp(2rem,1rem+3vw,3rem);
        height:20vh;
       
    }
 .read-more{
    height:6vh;
    font-size:14px
 }

 .btn1{
    background-color: rgba(255, 68, 0, 0.705);
    color:white;
    width:8vw;
    height:3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border:none;
}
}
